{% extends "base.html" %}
{% block hero %}
<section class="hero animated-hero">
  <div class="hero-content">
    <h1>Welcome to Parking Management</h1>
    <p>Find the best parking solutions effortlessly.</p>
    <a href="{{ url_for('auth.login') }}" class="btn">Get Started</a>
  </div>
</section>
{% endblock %}

{% block content %}
<!-- <div class="home-info">
  <h2>Discover Our Services</h2>
  <p>Enjoy seamless parking reservations, real-time slot availability, and much more. Explore our features and let us simplify your parking experience.</p>
</div> -->
{% endblock %}
